<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Cart</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

</head>

<body>
	<div th:replace="header"></div>
	<div>
		<table class="table table-striped">
			<tr>
				<th>画像</th>
				<th>商品名</th>
				<th>単価</th>
				<th>個数</th>
				<th>削除</th>
			</tr>
			<tr th:each="item : ${cart.items}">
				<td><img th:src="@{'/image/' + ${item.productImage}}" alt="" style="width: 50%; height: 100px;" /></td>
				<td th:text="${item.productName}"></td>
				<td th:text="${item.productPrice}"></td>
				<td th:text="${item.quantity}"></td>
				<td><a th:href="@{/cart/remove/{id}(id=${item.productId})}"><span class="btn btn-outline-danger">削除</span></a></td>
			</tr>
		</table>
	</div>
	<hr />
	<div class="row d-flex justify-content-center">
		<h4>
			合計金額[[${cart.totalAmount}]]円
		</h4>
	</div>
	<div class="row d-flex justify-content-center">
		<a href="/order/detail"><span class="btn btn-dark">注文する</span></a>
	</div>
</body>

</html>